.weather-details {
  font-size: $default-font-size;
  // background-color: rgba(0,0,0,0.5);
  color: $color-white;
  position: relative;
  text-shadow: 1px 1px 15px $color-black;
  margin-top: 8rem;
  &-wrapper {
  }
  &__item {
    margin-bottom: 2rem;
    &:first-child {
      font-weight: 100;
      letter-spacing: -0.4rem;
    }
    &:nth-child(2) {
      margin-bottom: 1rem;
    }
  }
}

.btn {
  margin-top: 5rem;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 10rem;
  background-color: $color-white;
}

.bg-dark {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.warning {
  @include absCenter();
  border-radius: 0.5rem;
  background-color: rgb(245, 245, 64);
  padding: 1.5rem;
}
